{
  "extends": "airbnb-base",
  "rules": {
    "curly": 0,
    "function-paren-newline": 0,
    "object-curly-newline": 0,
    "no-console": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": ["error", { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }],
  }
}
