strategy("AutoViewHub Backtest", \
    overlay=true, \
    pyramiding=0, \
    precision=7, \
    max_bars_back=720, \
    currency=currency.USD, \
    default_qty_type=strategy.percent_of_equity, \
    default_qty_value=100, \
    commission_value=0.2, \
    commission_type=strategy.commission.percent, \
    initial_capital=10000)

start_year = input(2018, \
    title = "Start Year", \
    defval = 1900, \
    minval = 1900, \
    maxval = 2100)
stop_year = input(2100, \
    title = "Stop Year", \
    defval = 2100, \
    minval = 1900, \
    maxval = 2100)

start_month = input(04, \
    title = "Start Month", \
    defval = 01, \
    minval = 01, \
    maxval = 12)
stop_month = input(12, \
    title = "Stop Month", \
    defval = 12, \
    minval = 01, \
    maxval = 12)

start_day = input(05, \
    title = "Start Day", \
    defval = 01, \
    minval = 01, \
    maxval = 12)
stop_day = input(30, \
    title = "Stop Day", \
    defval = 30, \
    minval = 01, \
    maxval = 31)
