backtest_start = timestamp(start_year, start_month, start_day, 00, 00)
backtest_stop = timestamp(stop_year, stop_month, stop_day, 00, 00)

backtest_period = false
backtest_period := time >= backtest_start and time <= backtest_stop

if backtest_period
    strategy.entry("long", strategy.long, when=trade_long_signal)
    strategy.close("long", when=trade_long_close_signal)
    strategy.entry("short", strategy.short, when=trade_short_signal)
    strategy.close("short", when=trade_short_close_signal)

if time > backtest_stop
    strategy.close_all()
