//@version=3


//
// -- {{script_type}} init
//

{{>(script_init)}}

//
// -- strategies
//

{{#strats}}
// {{id}}

{{>(id)}}
{{/strats}}

//
// -- signals
//

{{>core_signal}}

{{>core_position}}

//
// -- {{script_type}} report
//

{{>(script_report)}}
