plotshape(long_signal, location=location.belowbar, size=size.normal,
  style=shape.triangleup, color=blue)
plotshape(short_signal, location=location.abovebar, size=size.normal,
  style=shape.triangledown, color=yellow)
